.group
  %label{:for => "title"} Title
  %input{:type => "text", :size => 60, :name => "title", :id => "title"}
.group
  %label{:for => "description"} Description
  %textarea{:cols => 60, :rows => 4, :name => "description", :id => "description"}
.group
  %label{:for => "invitees"} Invitees
  %textarea{:cols => 60, :rows => 4, :name => "invitees", :id => "invitees"}

.group
  %label{:for => "start_1_date"} Proposed Start Date and Time
  %input{:type => "text", :name => "start_1_date", :id => "start_1_date"}
  %input{:type => "text", :name => "start_1_time", :id => "start_1_time"}

.group
  %label{:for => "start_2_date"} Proposed Start Date and Time
  %input{:type => "text", :name => "start_2_date", :id => "start_2_date"}
  %input{:type => "text", :name => "start_2_time", :id => "start_2_time"}

.group
  %label{:for => "start_3_date"} Proposed Start Date and Time
  %input{:type => "text", :name => "start_3_date", :id => "start_3_date"}
  %input{:type => "text", :name => "start_3_time", :id => "start_3_time"}

.group
  %label{:for => "start_4_date"} Proposed Start Date and Time
  %input{:type => "text", :name => "start_4_date", :id => "start_4_date"}
  %input{:type => "text", :name => "start_4_time", :id => "start_4_time"}

.group
  %label{:for => "start_5_date"} Proposed Start Date and Time
  %input{:type => "text", :name => "start_5_date", :id => "start_5_date"}
  %input{:type => "text", :name => "start_5_time", :id => "start_5_time"}

.group
  %label{:for => "account_name"} Your Name
  %input{:type => "text", :size => 60, :name => "account_name", :id => "account_name"}

.group
  %label{:for => "account_email"} Email Address
  %input{:type => "text", :size => 60, :name => "account_email", :id => "account_email"}
